@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mapboxgl-popup {
  max-width: 300px !important;
}

.mapboxgl-popup-content {
  @apply rounded-lg shadow-lg;
}

.marker {
  cursor: pointer;
}
